#about-me img {
    max-width: 100%;
    height: auto;
}

.skills-carousel {
    overflow: hidden;
    position: relative; 
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
}

.carousel-track {
    display: flex;
    align-items: center;
    animation: scroll 8s linear infinite;
}

.carousel-track::after {
    content:'';
    display: flex;
    align-items: center;
    animation: scroll 8s linear infinite;
}

    
.carousel-track > *:nth-child(n) {
        margin-right: 2px; /* Match the spacing between icons */
    }

.carousel-track > * {
    margin: 0 8px;
}

.carousel-track img {
    width: 10px;
    height: 100px;
    margin: 0 15px;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}